<header class="container__Header" id="header">
  <div class="header__Content-Person">
    <img src="https://th.bing.com/th/id/OIP.1c2sviR5znwMDvL31nMc6gHaFj?w=268&h=201&c=7&r=0&o=5&pid=1.7" alt="Imagem de rosto do usuário">
    <div class="header__Content-H6">
      <h6>olá,</h6>
      <h6 id="header__H6-Name">fadinha</h6>
    </div>
  </div>
  <div class="header__Content-H1">
    <h1>Buying Now</h1>
  </div>
  <div class="header__Content-Menu">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <button class="material-symbols-outlined">
      density_medium
    </button>
  </div>
</header>
