/* COLORS */
$Color-Black: #242424;

$Color-Flamingo: #d9a19c;

$Color-LightYellow: #e7ddbf;

$Color-White: #f9f9f9;

$borderButton: 0.5rem;

$tamanhoWhatsapp: 4vh;

/* FONTES */
$FontBrandonRegular: 'brandon-grotesque-regular', sans-serif, monospace;

$FontBrandonBold: 'brandon-grotesque-bold', sans-serif, monospace;

/* Screens */
$mobile-breakpoint: 425px;  // @include small-screen {}

$tablet-breakpoint: 768px;  // @include medium-screen {}

$tablet10P-breakpoint: 830px;  // @include large-tablet-screen {}

$desktop-breakpoint: 1023px;  // @include large-screen {}

$screen-Large: 1365px;  // @include extra-large-screen {}

$screen-Extra-Large: 1919px;  // @include full-large-screen {}

$screen-FullHD: 2159px;  // @include full-large-screen {}
