/* Você pode adicionar global styles a este arquivo e também importar outros arquivos de estilo */

@use './Styles/variables';
@import './Styles/Utils/mixins';

/* Importe Normalize.css */
@import 'normalize.css/normalize.css';

* {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $Color-Black;
}

:root {
  background: #fbf4f0;
}
